@*<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="/exit">Exit</a>
    </Authorized>
    <NotAuthorized>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </NotAuthorized>
</AuthorizeView>*@
